// Base colors
$textLight : #ffffff;
$textDark : #000000;
$textHighlight : hotpink;
$mainBgColor : #F0E2C8;
$altBgColor : #893439;

// Colors for on click menu button and menu items
$menuBgColor : #131D29;
$menuItemColor : #9AADA7;
