// Base colors
$textLight : #ffffff;
$textDark : #000000;
$textHighlight : #33ff00;
$mainBgColor : #F0E2C8;
$altBgColor : #893439;

// Specifics
$consoleText : #33ff00;

// Colors for on click menu button and menu items
$menuBgColor : #252525;
$menuItemColor : #252525;

// // Base colors
// $textLight : #ffffff;
// $textDark : #000000;
// $textHighlight : #ff0000;
// $mainBgColor : #F0E2C8;
// $altBgColor : #893439;