// Base colors
$textLight : #fee4c0;
$textDark : #ffffff;
$textTitle: #e68160;
$textHighlight : #33ff00;
$mainBgColor : #1f1f1f;
$altBgColor : #25373f;

// Specifics
$consoleText : #33ff00;

// Colors for on click menu button and menu items
$menuBgColor : #da4716;
$menuItemColor : #303030;