.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $altBgColor;
    color: $textLight;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}