.cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: $altBgColor;
    padding: 2rem;
    border-radius: 0.25rem;
    
    max-width: 50rem;
    
    h1 {
        margin: 0 0 0.5rem 0; 
        color: $textMain;
    }
    
    h2 {
        margin: 0 0 0.5rem 0;  
        color: $textMain;
    }

    p {
        margin: 0 0 0.5rem 0;
        color: $textSecondary;
    }

}

.items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}