// MENU
#menu {
    position: fixed;
    top: 0;
    left: 0;
    margin: 1rem;
    display: flex;
    font-size: 1.25rem;
}

.menu-box {
    @include flexCenter();
    width: 3rem;
    height: 3rem;

    border-radius: 20px;
    background-color: $menuButtonColor;

    transform: rotate(0deg);
    transition: 1s;
}

.menu-icon {
    height: 4rem;
    
    // White icon with filter:
    //filter: invert(100%) sepia(3%) saturate(10%) hue-rotate(313deg) brightness(103%) contrast(103%);
}

.menu-button {
    position:absolute; 
    margin: 0;
    padding: 0;
    width: 3rem;
    height: 3rem;
    left: 0;
    z-index: 1;
    opacity: 0 ;
    cursor: pointer;

    // APPEARING MENU ON CLICK
    &:checked ~ .menu-items{
        transform: translateX(0.5rem) translateY(50%) scale(1);
        border-radius: 0 20px 20px 20px;
        opacity: 1;
    }
    // MENU BUTTONS ANIMATION
    &:hover ~ .menu-box {
        transform: rotate(360deg) scale(1.1);
        transition: 0.5s;
    }
    &:active ~ .menu-box {
        transform: rotate(360deg) scale(0.9);
        transition: 0.3s;
    }
}

.menu-items {
    padding: 1rem;
    width: auto;
    opacity: 1;

    display: flex;
    flex-direction: column;
    border: solid 2px $textMain;
    border-radius: 100px;
    background-color: $menuItemsColor;

    //Position hidden and higher, until revealed
    transform: translateX(-49%) translateY(20%) scale(0);
    transform-origin: center;
    transition: 0.5s;

    a {
        margin: 0 5px;
        text-decoration: none;
        color: $textMain;
        &:hover {
            color: $textHighlight;
        }
    }
}