@mixin flex($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}
