@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}