.landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - $scrollbarHeight);
    
    h1 {
        padding: 2rem 4rem;
        font-size: 2rem;
        font-weight: 200;
    }

    @media (max-width: $breakpointTablet) {
        height: unset;
        min-height: calc(100vh - $navbarHeightMobile);
    }
}


.page-title {
    font-size: 3rem;
    font-weight: 900;
    text-shadow: $text2 2px 2px;
    padding: 2rem 0;

}

.knowledge-content {


    padding: 0 4rem;
    max-width: 40rem;
    display: flex;
    flex-direction: column;

    @media (max-width: $breakpointTablet) {
        padding: 0 2rem;
    }
    
    .skill-category {
        margin-bottom: 1rem;

        .description {
            padding-bottom: 1rem;
            
            h2 {
                padding-bottom: 0.5rem;
            }
        }
        
        .skillboxes {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 1rem;
            
            .skillbox {
                display: flex;
                flex-flow: column wrap;
                gap: 0.5rem;
            }

            h3 {
                color: $text1;
                font-weight: 500;
            }

            p{
                color: $textParagraphLight;
            }

            img {
                padding: 0.5rem;
                height: 4rem;  
                filter: invert(100%) sepia(1%) saturate(342%) hue-rotate(198deg) brightness(118%) contrast(100%);              
            }

            @media (max-width: $breakpointTablet) {   
                img {
                    padding: 0.25rem;
                }
            } 
            
        }
    }
}



.about-me {
    padding: 0 4rem;
    max-width: 70%;

    display: flex;
    flex-direction: column;

    
    p {
        padding-bottom: 0.5rem;
    }

    @media (max-width: 800px) {
        max-width: unset;
        padding: 0 2rem 5rem 2rem;
    }
    
    #aboutPDF {
        color: hsl(117, 75%, 40%);
        &:hover {
            text-decoration: underline;
        }
    }
}

#contact {
    width: $navbarWidth;
    min-width: unset;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: 800px) {
        position: unset;
        min-height: 100vh;
        margin: auto;
        z-index: 0;
    }
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .contact-links {
        padding: 0.5rem;
    }

    #profile-icon {
        height: 5rem;
        width: auto;
        filter: brightness(5.5) hue-rotate(20deg);

        @media (max-width: 800px) {
            height: 10rem;
        }
    }

    #linkedin-icon {
        filter: invert(27%) sepia(100%) saturate(1311%) hue-rotate(191deg) brightness(94%) contrast(95%);
    }

    #github-icon {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(140deg) brightness(102%) contrast(102%);
    }

    #email-icon {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(140deg) brightness(102%) contrast(102%);
    }

    
    img {
        padding: 0.25rem;
        height: 2rem;
        width: 2rem;
    }

}