@import './colors';
@import './mixin';
@import './menubutton';
@import './_components';

// CORE 
* {
    margin: 0;
    padding: 0;
    font-family: monospace, sans-serif;
}

body {
    background-color: $mainBgColor;
}


a {
    text-decoration: none;
    color: $textSecondary;
    
    &:hover {
        color: $textHighlight;
    }
}

#aboutPDF {
    color: $textHighlight;
    &:hover {
        text-decoration: underline;
        color: $textHighlight;
    }
}

// HEADER
.header {
    display: flex;
    align-items: center;
    height: 5rem;
    padding-left: 5rem;
    background-color:$mainBgColor;
    
    h1 {
        font-size: 1.5rem;
        color: $textSecondary;
    }
}

// CONTENT
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 0.5rem 0 0.5rem;
    background-color: $mainBgColor;
}

.greeting {
    
    h1 {
        margin: 0;
    }
}

.webdev {
    img {
        height: 4rem;
        padding: 1rem;
    }
    
    #apache-logo {
        background-color: white;
        border-radius: 1rem;
        padding: 0.5rem 1rem 0.5rem 0.5rem;
    }
    
    #linode-logo {
        background-color: white;
        border-radius: 1rem;
        padding: 0.25rem;
        margin: 0.5rem;
    }
}

.threejs {
    a {
        text-align: center
    }
}

.github {
    a {
        color: $textMain;
        &:hover {
            color: $textHighlight;
        }
    }
}

// FOOTER

.footer {
    @include flex(center, center, row);
    background-color: $mainBgColor;
    padding: 0.5rem 0.5rem 0 0.5rem;
}

.contact {
    h3 {
        margin-bottom: 0.5rem;
        text-align: center;
        padding: 0;
        color: $textMain;
    }

    a {
        margin:0 0 0.5rem 0.5rem;
    }
    
    p {
        color: $textMain;
    }
}