@import './colors';
@import './mixin';
@import './menubutton';
@import './_components';

// CORE 
* {
    margin: 0;
    padding: 0;
    font-family: monospace, sans-serif;
}

body {
    background-color: $mainBgColor;
}

#aboutPDF {
    color: $mainBgColor;
    &:hover {
        color: $textHighlight;
    }
}

a {
    &:link {
        text-decoration: none;
    }
    &:visited {
        color: $textLight;
    }
    &:hover {
        color: $textHighlight;
    }
}

// HEADER
.header {
    display: flex;
    align-items: center;
    height: 5rem;
    padding-left: 5rem;
    background-color:$mainBgColor;
    
    h1 {
        font-size: 1.5rem;
        color: $textDark;
    }
}

// CONTENT
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $mainBgColor;
}

.introduction {
    background-color: $altBgColor;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 1.5rem;

    p {
        color: $textLight;
        margin: 0 0 0.5rem 0;
    }
}

.webdev {
    p {
        margin-bottom: 0.5rem;
    }

    img {
        height: 4rem;
        padding: 1rem;
    }
}

#apache-logo {
    background-color: white;
    border-radius: 1rem;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
}

#linode-logo {
    background-color: white;
    border-radius: 1rem;
    padding: 0.25rem;
    margin: 0.5rem;
}

.threejs {
    a {
        text-align: center
    }
}

// FOOTER

.footer {
    @include flex(center, center, row);
    background-color: $mainBgColor;

    h3 {
        text-align: center;
        padding: 0;
        color: $textLight;
    }
    
    a:link, a:visited {
        color: $textLight;
        padding: 0.25rem 0.5rem;
        text-decoration: none;
        border-radius: 0.5rem;
    }

    a:hover {
        color: $textHighlight;
    }
}

.contact {
    h3 {
        margin-bottom: 0.5rem;
    }
}