h1 {
  color: #d7ba7d;
}

h2 {
  color: #ce9178;
}

h3 {
  color: #d7ba7d;
}

p {
  color: #cccccc;
}

a {
  text-decoration: none;
}

.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 10px);
}
.landing-page h1 {
  padding: 2rem 4rem;
  font-size: 2rem;
  font-weight: 200;
}
@media (max-width: 800px) {
  .landing-page {
    height: unset;
    min-height: calc(100vh - 4rem);
  }
}

.page-title {
  font-size: 3rem;
  font-weight: 900;
  text-shadow: #ce9178 2px 2px;
  padding: 2rem 0;
}

.knowledge-content {
  padding: 0 4rem;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
}
@media (max-width: 800px) {
  .knowledge-content {
    padding: 0 2rem;
  }
}
.knowledge-content .skill-category {
  margin-bottom: 1rem;
}
.knowledge-content .skill-category .description {
  padding-bottom: 1rem;
}
.knowledge-content .skill-category .description h2 {
  padding-bottom: 0.5rem;
}
.knowledge-content .skill-category .skillboxes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}
.knowledge-content .skill-category .skillboxes .skillbox {
  display: flex;
  flex-flow: column wrap;
  gap: 0.5rem;
}
.knowledge-content .skill-category .skillboxes h3 {
  color: #d7ba7d;
  font-weight: 500;
}
.knowledge-content .skill-category .skillboxes p {
  color: #cccccc;
}
.knowledge-content .skill-category .skillboxes img {
  padding: 0.5rem;
  height: 4rem;
  filter: invert(100%) sepia(1%) saturate(342%) hue-rotate(198deg) brightness(118%) contrast(100%);
}
@media (max-width: 800px) {
  .knowledge-content .skill-category .skillboxes img {
    padding: 0.25rem;
  }
}

.about-me {
  padding: 0 4rem;
  max-width: 70%;
  display: flex;
  flex-direction: column;
}
.about-me p {
  padding-bottom: 0.5rem;
}
@media (max-width: 800px) {
  .about-me {
    max-width: unset;
    padding: 0 2rem 5rem 2rem;
  }
}
.about-me #aboutPDF {
  color: hsl(117, 75%, 40%);
}
.about-me #aboutPDF:hover {
  text-decoration: underline;
}

#contact {
  width: 12rem;
  min-width: unset;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 800px) {
  #contact {
    position: unset;
    min-height: 100vh;
    margin: auto;
    z-index: 0;
  }
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-content .contact-links {
  padding: 0.5rem;
}
.contact-content #profile-icon {
  height: 5rem;
  width: auto;
  filter: brightness(5.5) hue-rotate(20deg);
}
@media (max-width: 800px) {
  .contact-content #profile-icon {
    height: 10rem;
  }
}
.contact-content #linkedin-icon {
  filter: invert(27%) sepia(100%) saturate(1311%) hue-rotate(191deg) brightness(94%) contrast(95%);
}
.contact-content #github-icon {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(140deg) brightness(102%) contrast(102%);
}
.contact-content #email-icon {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(140deg) brightness(102%) contrast(102%);
}
.contact-content img {
  padding: 0.25rem;
  height: 2rem;
  width: 2rem;
}

#hud-system {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  margin: 0;
  padding: 0;
  z-index: 10;
  display: flex;
  background-color: white;
}

.switch-visuals {
  position: fixed;
  top: 1rem;
  left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 20px;
  background-color: #d7ba7d;
  transform: rotate(0deg);
  transition: 1s;
  z-index: 1;
}
.switch-visuals .menu-icon {
  height: 4rem;
}
@media (max-width: 800px) {
  .switch-visuals {
    left: unset;
    right: 1rem;
  }
}

.switch-checkbox {
  position: fixed;
  top: 1rem;
  left: 1rem;
  padding: 0;
  width: 3rem;
  height: 3rem;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}
.switch-checkbox:checked ~ .overlay-screen {
  transform: translateX(0) translateY(0) scale(1);
}
.switch-checkbox:hover ~ .switch-visuals {
  transform: rotate(360deg) scale(1.1);
  transition: 0.5s;
}
.switch-checkbox:active ~ .switch-visuals {
  transform: rotate(360deg) scale(0.9);
  transition: 0.3s;
}
@media (max-width: 800px) {
  .switch-checkbox {
    left: unset;
    right: 1rem;
  }
}

.overlay-screen {
  position: fixed;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(59, 59, 59, 0.434);
  transform: translateX(-50%) translateY(-50%) scale(0);
  transform-origin: center;
  transition: 0.5s;
}
.overlay-screen .screen-content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
}

:root {
  color-scheme: dark;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #b5cea8;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 236, 236);
}

body {
  background-color: transparent;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 4rem;
  width: 12rem;
  height: 100vh;
  background-color: rgb(24, 24, 24);
  z-index: 1;
}
nav ul {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
}
nav a {
  color: #d7ba7d;
  font-size: 1.5rem;
  font-weight: 400;
}
@media (max-width: 800px) {
  nav {
    top: unset;
    padding: unset;
    bottom: 0;
    width: 100vw;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav ul {
    flex-direction: row;
    justify-content: center;
  }
  nav a {
    font-size: 1rem;
  }
}

main {
  background-color: rgb(31, 31, 31);
  margin-left: 12rem;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: calc(100vw - 12rem);
  overflow: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
@media (max-width: 800px) {
  main {
    margin: 0;
    width: 100vw;
    height: unset;
    flex-direction: column;
  }
}

.view {
  scroll-snap-align: start;
  overflow: auto;
  min-width: calc(100vw - 12rem);
}
@media (max-width: 800px) {
  .view {
    min-width: 100vw;
  }
}/*# sourceMappingURL=styles.css.map */